# Copy this to set environment variables before running
# Or set them in your IDE run configuration

MONGO_URI=mongodb url
JWT_SECRET=Yq8ZvsWqz6EQ0e4Sq2FjiZXhrqGjpSGo6uNi6L6XWaAKCEF3WbmrNvydoYEo8E/7
CLOUDINARY_CLOUD_NAME=clodinary_cloud_name
CLOUDINARY_API_KEY=clodinary_api_key
CLOUDINARY_API_SECRET=clodinary_api_secret

# Mailtrap credentials - get from https://mailtrap.io/inboxes
MAILTRAP_USERNAME=mailtrap_username
MAILTRAP_PASSWORD=mailtrap_password

CLIENT_URL=http://localhost:5173
DEFAULT_ADMIN_EMAIL=admin@cems.local
DEFAULT_ADMIN_PASSWORD=Admin@123
